* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--bg);
    color: var(--text);

    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --bg: #ffffff;
    --text: #000000;
}

body.dark {
    --bg: #121212;
    --text: #f0f0f0;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

#menu button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

#hud {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 18px;
}

#hud button {
    padding: 5px 10px;
    font-size: 14px;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

#number-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.num-btn {
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    color: blue;
    border: 2px solid blue;
    border-radius: 6px;
    cursor: pointer;
}

.select-block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    user-select: none;
}

.select-block.fixed {
    background-color: #e0e0e0;
    color: black;
}

.highlight-x[data-col],
.highlight-y[data-row] {
    background-color: #d0ebff !important;
}

@media (max-width: 600px) {
    #root {
        transform: scale(.8);
        height: 70vh;
    }
}

@media (max-width: 480px) {
    #root {
        transform: scale(.7);
        height: 60vh;
    }
}

@media (max-width: 420px) {
    #root {
        transform: scale(.6);
        /* height: 10vh; */
    }
}